.swiper-container {
  width: 100%;
  height: 344px;
  margin-bottom: 0;
}

@media (max-width: 320px) {
  .swiper-container {
    order: 2;
    height: 300px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .swiper-container {
    order: 2;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .swiper-container {
    order: 3;
    height: 322px;
  }
}

@media (min-width: 1440px) {
  .swiper-container {
    width: 100%;
    height: 344px;
    margin-bottom: 0;
  }

}

/* Navigation buttons */
@media (max-width: 1439px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
