
.results__title {
  margin-top: 80px;
  margin-bottom: 64px;
  margin-left: 104px;
}

@media (max-width: 320px) {
  .results__title {
    margin-top: 32px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;

  }
}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {
  .results__title {
    margin-top: 80px;
    margin-bottom: 64px;
    margin-left: 104px;
  }

}
