@import url(./__title/results__title.css);
@import url(./__link/results__link.css);
@import url(./__more/results__more.css);
@import url(./__error/results__error.css);

.results {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #F5F6F7;
  display: none;
}

.results__active {
  display: flex;
}
