
@import url(./__title.css);
@import url(./__link.css);
@import url(./__more.css);

.results {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-left: 104px; */
  /* margin-right: 104px; */
  /* max-width: 1232px; */
  background: #F5F6F7;
}
