
.author__text {
  margin-top: 23px;
  margin-bottom: 94px;
  font-family: Roboto, Georgia, serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 320px) {
  .author__text {
    margin-top: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1440px) {
  .author__text {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .author__text {
    margin-top: 23px;
    margin-bottom: 94px;
    font-family: Roboto, Georgia, serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
}
