@import url(./__date.css);
@import url(./__title.css);
@import url(./__text.css);
@import url(./__source.css);

.card__description {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 304px;
  width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 320px) {
  .card__description {
    height: 250px;
    width: calc(100% - 32px);
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .card__description {
    height: 250px;
    width: calc(100% - 32px);
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .card__description {
    height: 270px;
    width: calc(100% - 32px);
  }
}

@media (min-width: 1440px) {
  .card__description {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 304px;
    width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
  }

}
