
.card__source {
  margin-top: auto;
  margin-bottom: 24px;

  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  color: #B6BCBF;
}
@media (max-width: 320px) {
  .card__source {
    margin-bottom: 20px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {
  .card__source {
    margin-top: auto;
    margin-bottom: 24px;

    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #B6BCBF;
  }

}
