
.card__text {
  margin-top: 16px;
  margin-bottom: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 320px) {
  .card__text {
    margin-top: 8px;
    width: calc(100%);
    overflow: hidden;
    white-space: no-wrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .card__text {
    margin-top: 8px;
    width: calc(100%);
    overflow: hidden;
    white-space: no-wrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .card__text {
    margin-top: 10px;
    width: calc(100%);
    overflow: hidden;
    white-space: no-wrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1440px) {
  .card__text {
    margin-top: 16px;
    margin-bottom: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}
