
.card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

@media (max-width: 320px) {
  .card__title{
    font-size: 22px;
    line-height: 28px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .card__title{
    font-size: 22px;
    line-height: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .card__title{
    font-size: 22px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .card__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
  }

}
