
@media (max-width: 320px) {
  .about__title {
    line-height: 40px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .about__title {
    line-height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .about__title {
    line-height: 34px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .about__title {
    line-height: 46px;
  }
}
