@import url(./__title.css);
@import url(./__heading/__heading.css);
@import url(./__scale.css);
@import url(./__body/__body.css);

.graph {
  position: relative;
  background-color: #F5F6F7;

  margin-bottom: 0;
  padding-bottom: 70px;
}

@media (max-width: 320px) {
  .graph {
    padding-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .graph {
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
.graph {
  padding-bottom: 40px;
}
}

@media (min-width: 1440px) {
  .graph {
    position: relative;
    background-color: #F5F6F7;

    margin-bottom: 0;
    padding-bottom: 70px;
  }
}
