@import url(./__bar/graph__bar.css);
@import url(./__body/graph__body.css);
@import url(./__date/graph__date.css);
@import url(./__heading/graph__heading.css);
@import url(./__heading_date/graph__heading_date.css);
@import url(./__heading_number/graph__heading_number.css);
@import url(./__row/graph__row.css);
@import url(./__scale/graph__scale.css);
@import url(./__title/graph__title.css);
@import url(./__month/graph__month.css);

.graph {
  position: relative;
  background-color: #F5F6F7;

  margin-bottom: 0;
  padding-bottom: 70px;
}

@media (max-width: 320px) {
  .graph {
    padding-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .graph {
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
.graph {
  padding-bottom: 40px;
}
}

@media (min-width: 1440px) {
  .graph {
    position: relative;
    background-color: #F5F6F7;

    margin-bottom: 0;
    padding-bottom: 70px;
  }
}
