@import url(./__name.css);
@import url(./__wrapper.css);

.tech-card {
  width: 120px;
  margin-right: 40px;
}

@media (max-width: 320px) {
  .tech-card {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 35px;
    margin-top: 0;
  }

  .tech-card:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .tech-card {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 35px;
    margin-top: 0;
  }

  .tech-card:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .tech-card {
    width: 120px;
    margin-right: 64px;
    margin-left: 0;
    margin-bottom: 45px;
  }

  .tech-card:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .tech-card {
    width: 120px;
    margin-right: 40px;
    /* position: relative; */
    /* /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-content: flex-start; */
    /* align-items: flex-start; */
    /* align-content: space-around; */
    /* align-content: center; */
    /* border: 1px solid blue; */
  }

}
