
.result-card__text {
  margin-top: 16px;
  margin-bottom: 0;

  font-family: Roboto, Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 320px) {
  .result-card__text {
    position: relative;
    margin-top: 8px;
    width: calc(100%);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .result-card__text {
    position: relative;
    margin-top: 8px;
    width: calc(100%);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .result-card__text {
    margin-top: 10px;
    width: calc(100%);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .result-card__text {
    margin-top: 16px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

    font-family: Roboto, Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}
