
.search__title {
  margin-top: 80px;
  margin-left: 416px;
  margin-bottom: 32px;
  max-width: 545px;

  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

@media (max-width: 320px) {
  .search__title {
    margin-top: 30px;
    margin-left: 19px;
    margin-right: 16px;
    margin-bottom: 16px;
    max-width: 285px;

    font-size: 36px;
    line-height: 40px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .search__title {
    margin-top: 30px;
    margin-left: 19px;
    margin-right: 16px;
    margin-bottom: 16px;
    max-width: 285px;

    font-size: 36px;
    line-height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .search__title {
    margin-top: 40px;
    margin-left: 163px;
    margin-bottom: 16px;
    max-width: 385px;

    font-size: 36px;
    line-height: 40px;
  }
}

@media (min-width: 1440px) {
  .search__title {
    margin-top: 80px;
    margin-left: 416px;
    margin-bottom: 32px;
    max-width: 545px;

    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
  }
}
