
.footer__copyright {
  margin-left: 104px;
  margin-top: 33px;
  margin-bottom: 25px;

  font-family: Roboto, Georgia, serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #B6BCBF;
}

@media (max-width: 320px) {
  .footer__copyright {
    order: 3;
    margin-left: 16px;
    margin-top: 25px;
    margin-bottom: 22px;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .footer__copyright {
    order: 3;
    margin-left: 16px;
    margin-top: 25px;
    margin-bottom: 22px;
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .footer__copyright {
    order: 1;
    margin-left: 16px;
    margin-top: 25px;
    margin-bottom: 22px;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__copyright {
    margin-left: 16px;
    margin-top: 25px;
    margin-bottom: 22px;
  }
}

@media (min-width: 1440px) {
  .footer__copyright {
    margin-left: 104px;
    margin-top: 33px;
    margin-bottom: 25px;

    font-family: Roboto, Georgia, serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #B6BCBF;
  }

}
