
.card__image {
  /* position: relative; */
  /* background-image: url(../../images/cards/image_08.png); */
  width: 100%;
  height: 272px;
  border-radius: 16px 16px 0 0;
}


@media (max-width: 320px) {
  .card__image {
    /* width: calc(100% - 32px); */
    height: 196px;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}
}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {
  .card__image {
    /* position: relative; */
    /* background-image: url(../../images/cards/image_08.png); */
    width: 100%;
    height: 272px;
    border-radius: 16px 16px 0 0;
  }

}
