
.header__nav_item_active {
  color: #1A1B22;
  border-bottom: 3px solid #1A1B22;
}

.header__nav_item_active:hover {
opacity: 1;
cursor: default;
}

@media (max-width: 320px) {
  .header__nav_item_active {
    color: #fff;
    border-bottom: 3px solid #fff;
  }
}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {
  .header__nav_item_active {
    color: #1A1B22;
    border-bottom: 3px solid #1A1B22;
  }


}
