
.result-card__date {
  margin-top: 20px;
  margin-bottom: 12px;

  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: #B6BCBF;
}

@media (max-width: 320px) {
  .result-card__date {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .result-card__date {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .result-card__date {
    margin-top: 16px;
    margin-bottom: 12px;
  }
}

@media (min-width: 1440px) {
  .result-card__date {
    margin-top: 20px;
    margin-bottom: 12px;

    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #B6BCBF;
  }
}
