
.result-card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

@media (max-width: 320px) {
  .result-card__title{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    font-size: 22px;
    line-height: 28px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .result-card__title{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    font-size: 22px;
    line-height: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .result-card__title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    font-size: 22px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .result-card__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
  }
}
