
.result-card__container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-content: flex-start; */
  /* align-content: flex-end; */
  /* width: calc(100% - 208px); */
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 320px) {
  .result-card__container {
    flex-direction: column;
    width: calc(100% - 32px);
    margin-top: 36px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .result-card__container {
    flex-direction: row;
    width: calc(100% - 32px);
    margin-top: 36px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .result-card__container {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .result-card__container {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    /* background-color: greenyellow; */
  }
}


@media (min-width: 1440px) {
  .result-card__container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 208px);
    margin-left: auto;
    margin-right: auto;
  }
}
