.text__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

@media (max-width: 320px) {
  .text__title {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {
  .text__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
  }

}
