.graph__bar {
  height: 24px;
  left: 0;
  width: 100%;
  align-self: center;
  color: white;
  padding: 0;
  position: relative;
  background-color: #2F71E5;

  font-family: Roboto, Georgia, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
