
.no-results__clarification {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 80px;
  max-width: 340px;

  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  color: #B6BCBF;
}
