.graph__heading_date {
  width: 104px;
  height: 44px;
}

@media (max-width: 320px) {
  .graph__heading_date {
    width: 64px;
    height: 32px;
    padding-bottom: 8px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .graph__heading_date {
    width: 64px;
    height: 32px;
    padding-bottom: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .graph__heading_date {
    width: 104px;
    height: 39px;
    padding-bottom: 4px;
  }
}

@media (min-width: 1440px) {
  .graph__heading_date {
    height: 44px;
  }
}
