<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Этот сайт является сервисом для анализа происходящих в мире событий">
  <meta name="author" content="Ирина Гнатив">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  <link rel="shortcut icon" href="../src/images/favicon.ico">

  <title>NewsAnalyzer</title>
</head>
<body>
  <div class="screen_size__container">
    <div class="screen_size">

        <section class="header">
          <div class="header__title">NewsAnalyzer</div>
          <nav class="nav header__nav">
            <a class="link nav__item header__nav_item" href="index.html">Главная</a>
            <a class="link nav__item nav__item_active header__nav_item header_color_dark" href="about.html">О проекте</a>
          </nav>
        </section>

      <section class="about_project">
        <h1 class="text__title about__title">Клиентам</h1>
        <div class="text__body">
            <p class="text__para">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему научился студент,
            какими технологиями владеет.</p>
            <p class="text__para">Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым.
            Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах,
            выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
            <p class="text__para">Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт продолжает работать,
            пока от сервера приходит ответ. Это повышает удобство использования сервиса.</p>
            <p class="text__para">При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке сайтов.
            Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах.
            Даже если посетители — пользователи старых операционных систем, у них не будет проблем с отображением.
            А значит, потенциальная аудитория возрастает.</p>
            <p class="text__para">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы рекомендуем обратиться
            к этому студенту.</p>
        </div>
      </section>

      <section class="tech">
        <h2 class="tech__title">Используемые технологии</h2>
        <div class="tech__container">
          <div class="tech__card">
            <p class="tech__card_name">HTML</p>
            <div class="tech__wrapper">
              <img class="tech__card_logo" src="<%=require('./images/html_logo.png').default%>">
            </div>
          </div>

          <div class="tech__card">
            <p class="tech__card_name">CSS</p>
            <div class="tech__wrapper">
              <img class="tech__card_logo" src="<%=require('./images/css_logo.png').default%>">
            </div>
          </div>

          <div class="tech__card">
            <p class="tech__card_name">Java Script</p>
            <div class="tech__wrapper">
              <img class="tech__card_logo" src="<%=require('./images/js_logo.png').default%>" alt="JavaScript Logo">
          </div>
          </div>

          <div class="tech__card">
            <p class="tech__card_name">Webpack</p>
            <div class="tech__wrapper">
              <img class="tech__card_logo" src="<%=require('./images/webpack_logo.png').default%>">
            </div>
          </div>
        </div>
      </section>

      <section class="author">
        <img src="<%=require('./images/image-03.png').default%>" class="author__avatar" alt="Фотография автора проекта">
        <div class="author__container">
          <h2 class="text__title">Об авторе</h2>
          <div class="text__body">
              Это блок с описанием автора проекта. Здесь следует указать, как вас зовут,
                  чем вы занимаетесь, какими технологиями разработки владеете.
                  <br> Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились,
                  и чем можете помочь потенциальным заказчикам.
                  <br>Если хотите, оставьте свои контакты: email и телефон.
                  Так заказчики смогут с вами связаться.
            </div>
        </div>
      </section>

      <section class="commits">
          <h2 class="commits__title">История коммитов из GitHub</h2>
          <a class="link commits__github" href="">Открыть в GitHub  ></a>
          <div class="swiper-container">
              <div class="swiper-wrapper">

                <a class="link swiper-slide commit-card" href="https://github.com/IvanOpanasiuk/emmet">
                <p class="commit-card__date">14 августа, 2019</p>
                  <div class="commit-card__author">
                    <img class="commit-card__avatar" src="<%=require('./images/avatar_dolinin.png').default%>">
                    <div class="commit-card__wrapper">
                      <h4 class="commit-card__name">Антон Дмитриев</h4>
                      <p class="commit-card__email">anton@yandex.ru</p>
                    </div>
                  </div>
                  <p class="commit-card__text">Emmet (formerly Zen Coding) is a web-
                      developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
                </a>

                <a class="link swiper-slide commit-card" href="https://github.com/IvanOpanasiuk/emmet">
                  <p class="commit-card__date">14 августа, 2019</p>
                  <div class="commit-card__author">
                      <img class="commit-card__avatar" src="<%=require('./images/avatar_fedorova.png').default%>">
                      <div class="commit-card__wrapper">
                      <h4 class="commit-card__name">Мария Фёдорова</h4>
                      <p class="commit-card__email">mariiifed@yandex.ru</p>
                    </div>
                  </div>
                  <p class="commit-card__text">You can install this plugin directly from NetBeans Plugin Portal:
                    in NetBeans, open Tools > Plugins > Available plugins and find and install Emmet plugin.</p>
                </a>

                <a class="link swiper-slide commit-card" href="https://github.com/IvanOpanasiuk/emmet">
                  <p class="commit-card__date">14 августа, 2019</p>
                  <div class="commit-card__author">
                      <img class="commit-card__avatar" src="<%=require('./images/avatar_ivanova.png').default%>">
                    <div class="commit-card__wrapper">
                      <h4 class="commit-card__name">Инга Иванова</h4>
                      <p class="commit-card__email">ingaiva@yandex.ru</p>
                    </div>
                  </div>
                  <p class="commit-card__text">With Emmet, you can type CSS-like expressions that can be
                    dynamically parsed, and produce output depending on what you type in the abb... </p>
                </a>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev swiper-button-black">
              </div>
              <div class="swiper-button-next swiper-button-black"></div>

          </div>
        </section>

        <section class="footer">
          <div class="footer__copyright">© 2019  Supersite</div>
          <nav class="nav footer__nav">
            <a class="link nav__item footer__nav_item" href="./index.html">Главная</a>
            <a class="link nav__item footer__nav_item" href="./about.html">О проекте</a>
            <a class="link nav__item footer__nav_item" href="https://praktikum.yandex.ru/">Яндекс.Практикум</a>
          </nav>
          <div class="footer__social">
            <a class="link" href="https://github.com/"><img src="../src/images/github.png" class="footer__social_icon" alt=""></a>
            <a class="link" href="https://www.facebook.com/"><img src="../src/images/fb.png" class="footer__social_icon" alt=""></a>
          </div>
        </section>

    </div>
  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

</body>
</html>
