<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This website is a service for analyzing world events">
  <meta name="author" content="Iryna Gnativ">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  <link rel="shortcut icon" href="../src/images/favicon.ico">

  <title>NewsAnalyzer</title>
</head>
<body>
  <div class="screen-size">
    <div class="screen-size__container">

      <section class="header">
        <div class="header__title">NewsAnalyzer</div>
        <nav class="nav header__nav">
          <a class="link nav__item header__nav-item" href="index.html">Main</a>
          <a class="link nav__item header__nav-item" href="about.html">About Project</a>
        </nav>
      </section>

      <section class="stats">
        <h4 class="stats__page-address">Main <span class="stats__page-address stats__page-address_inactive">/ Analytics</span></h4>
        <h1 class="stats__title">You've searched: «<span class="stats__keyword"></span>»</h1>
        <p class="stats__text">News during the week: <span class="stats__number"></span></p>
        <p class="stats__text">Mentions in titles: <span class="stats__mentions"></span></p>
      </section>

      <section class="graph">
        <h2 class="graph__title">Analytics per day</h2>
        <div class="graph__heading">
          <div class="graph__heading_date" >Date <br>(<span class="graph__month"></span>)</div>
          <div class="graph__heading_number">Number of mentions</div>
        </div>

        <div class="graph__scale">
          <div class="graph__scale-0">0</div>
          <div class="graph__scale-25">25</div>
          <div class="graph__scale-50">50</div>
          <div class="graph__scale-75">75</div>
          <div class="graph__scale-100">100</div>
        </div>

        <div class="graph__body">

        </div>

        <div class="graph__scale">
          <div class="graph__scale-0">0</div>
          <div class="graph__scale-25">25</div>
          <div class="graph__scale-50">50</div>
          <div class="graph__scale-75">75</div>
          <div class="graph__scale-100">100</div>
        </div>
      </section>

      <section class="footer">
          <div class="footer__copyright">© 2019  Gnativ</div>
          <nav class="nav footer__nav">
            <a class="link nav__item footer__nav-item" href="./index.html">Main</a>
            <a class="link nav__item footer__nav-item" href="./about.html">About Project</a>
            <a class="link nav__item footer__nav-item" href="https://praktikum.yandex.ru/" target="_blank">Yandex.Praktikum</a>
          </nav>
          <div class="footer__social">
            <a class="link" href="https://github.com/gvirinko" target="_blank">
              <img src="../src/images/github.png" class="footer__social-icon" alt="Логотип GitHub">
            </a>
            <a class="link" href="https://www.facebook.com/" target="_blank">
              <img src="../src/images/fb.png" class="footer__social-icon" alt="Логотип Facebook">
            </a>
          </div>
        </section>

    </div>
  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

</body>
</html>
