@import url(./normalize.css);

@import url(./blocks/screen_size/screen_size.css);
@import url(./blocks/circle-preloader/circle-preloader.css);
@import url(./blocks/no-results/no-results.css);

@import url(./blocks/link/link.css);
@import url(./blocks/text/text.css);

@import url(./blocks/nav/nav.css);
@import url(./blocks/header/header.css);
@import url(./blocks/footer/footer.css);


@import url(./blocks/lead/lead.css);
@import url(./blocks/search/search.css);
@import url(./blocks/results/results.css);
@import url(./blocks/card/card.css);
@import url(./blocks/author/author.css);


@import url(./blocks/about_project/about_project.css);
@import url(./blocks/tech/tech.css);
@import url(./blocks/stats/stats.css);
@import url(./blocks/graph/graph.css);

@import url(../node_modules/swiper/css/swiper.css);
@import url(./blocks/commits/commits.css);
@import url(./blocks/commit-card/commit-card.css);

/* *  {
  box-sizing: border-box;
  border: 1px solid red;
  } */



.swiper-container {
  width: 100%;
  height: 344px;
  margin-bottom: 0;
}

@media (max-width: 320px) {
  .swiper-container {
    order: 2;
    height: 300px;
  }
}


@media (min-width: 320px) and (max-width: 768px) {
  .swiper-container {
    order: 2;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .swiper-container {
    order: 3;
    height: 322px;
  }
}

@media (min-width: 1440px) {
  .swiper-container {
    width: 100%;
    height: 344px;
    margin-bottom: 0;
  }

}

/* Navigation buttons */
@media (max-width: 1439px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

/* @media (min-width: 1440px) {
  .swiper-button-prev,
  .swiper-button-next {
    background-image: none;
  }
} */








@font-face {
    src: url(./fonts/roboto-regular-webfont.woff) format('woff');
    font-family: 'Roboto';
    font-style: normal;
  }

@font-face {
  src: url(./fonts/robotoslab-regular-webfont.woff) format('woff');
  font-family: 'Roboto Slab';
  font-style: normal;
}

@font-face {
  src: url(./fonts/roboto-medium-webfont.woff) format('woff');
  font-family: 'Roboto Medium';
  font-style: normal;
}

@font-face {
  src: url(./fonts/source-sans-pro-v13-latin_cyrillic-regular.woff) format('woff');
  font-family: 'Source Sans Pro';
  font-style: normal;
}

