
@import url(./blocks/screen_size/screen_size.css);
@import url(./blocks/circle-preloader/circle-preloader.css);
@import url(./blocks/no-results/no-results.css);

@import url(./blocks/link/link.css);
@import url(./blocks/text/text.css);

@import url(./blocks/lead/lead.css);
@import url(./blocks/header/header.css);
@import url(./blocks/search/search.css);
@import url(./blocks/results/results.css);
@import url(./blocks/card/card.css);
@import url(./blocks/author/author.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/nav/nav.css);
@import url(./blocks/about_project/about_project.css);
@import url(./blocks/tech/tech.css);
@import url(./blocks/commits/commits.css);
@import url(./blocks/card-commit/card-commit.css);
@import url(./blocks/stats/stats.css);


*  {
  box-sizing: border-box;
  border: 1px solid red;
  }

@font-face {
    src: url(./fonts/roboto-regular-webfont.woff) format('woff');
    font-family: 'Roboto';
    font-style: normal;
  }

@font-face {
  src: url(./fonts/robotoslab-regular-webfont.woff) format('woff');
  font-family: 'Roboto Slab';
  font-style: normal;
}

@font-face {
  src: url(./fonts/roboto-medium-webfont.woff) format('woff');
  font-family: 'Roboto Medium';
  font-style: normal;
}

@font-face {
  src: url(./fonts/source-sans-pro-v13-latin_cyrillic-regular.woff) format('woff');
  font-family: 'Source Sans Pro';
  font-style: normal;
}

