
.search__button {
  position: absolute;
  right: 0;
  margin-left: 0;
  width: 168px;
  height: 100%;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  color: #fff;

  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}


.search__button:active {
  /* background: #2A65CC; */
  /* background: red; */
  cursor: pointer;
}

.search__button:hover {
  background: #347EFF;
  cursor: pointer;
}

@media (max-width: 320px) {
  .search__button {
    position: relative;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    right: auto;
    width: 288px;
    min-height: 56px;
  }

}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {
  .search__button {
    position: absolute;
    right: 0;
    margin-left: 0;
    width: 168px;
    height: 100%;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    color: #fff;

    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

}
