
.tech__title {
  max-width: 344px;
  margin-left: 104px;
  /* margin-right: 192px; */
  margin-top: 80px;
  margin-bottom: 162px;

  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;

  color: #1A1B22;
}

@media (max-width: 320px) {
  .tech__title {
    max-width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 32px;
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {

  .tech__title {
    max-width: 344px;
    margin-left: 104px;
    /* margin-right: 192px; */
    margin-top: 80px;
    margin-bottom: 162px;

    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;

    color: #1A1B22;
  }

}
