@import url(./__title.css);
@import url(./__container.css);
@import url(./__card/__card.css);


.tech {
  position: relative;
  display: flex;
  flex-direction: row;

  background: #F5F6F7;
}

@media (max-width: 320px) {
  .tech {
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .tech {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .tech {
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .tech {
    position: relative;
    display: flex;
    flex-direction: row;
    background: #F5F6F7;
  }
}
