
.header__title {
  height: 100%;
  margin-top: 30px;
  margin-bottom: 26px;
  margin-left: 104px;

  font-family: 'Roboto Slab', Georgia, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 320px) {
  .header__title {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 25px;

    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header__title {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 25px;

    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__title {
    margin-top: 22px;
    margin-bottom: 18px;
    margin-left: 40px;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .header__title {
    height: 100%;

    margin-top: 30px;
    margin-bottom: 26px;
    margin-left: 104px;

    font-family: 'Roboto Slab', Georgia, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

}
