
.stats__text {
  margin-top: 24px;
  margin-bottom: 4px;
}

.stats__text:last-of-type {
  margin-top: 4px;
  margin-bottom: 80px;
}

@media (max-width: 320px) {
  .stats__text {
    margin-top: 16px;
  }
  .stats__text:last-of-type {
    margin-bottom: 24px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {
  .stats__text {
    margin-top: 24px;
    margin-bottom: 4px;
  }

  .stats__text:last-of-type {
    margin-top: 4px;
    margin-bottom: 80px;
  }
}
