
.commits__github {
  margin-top: 85px;
  margin-right: 112px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  color: #1A1B22;
}

@media (max-width: 320px) {
  .commits__github {
    order: 3;
    width: 288px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 32px;
    text-align: center;
    /* text-align: center; */
    /* vertical-align: middle; */

    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 80px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .commits__github {
    order: 3;
    width: 288px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 32px;
    text-align: center;

    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .commits__github {
    order: 2;
    margin-top: 48px;
    margin-right: 66px;
    margin-left: auto;
    border: 0;
    /* border: 1px solid greenyellow; */
    border-radius: 0;
    width: auto;
    height: 24px;

  }
}

@media (min-width: 1440px) {
  .commits__github {
    margin-top: 85px;
    margin-right: 112px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #1A1B22;
  }

}
