@import url(./__title/commits__title.css);
@import url(./__github/commits__github.css);

.commits {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
  padding-bottom: 80px;

  background: #F5F6F7;
}

@media (max-width: 320px) {
  .commits {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .commits {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .commits {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 0px;

    background: #F5F6F7;
  }
}

@media (min-width: 1440px) {
  .commits {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 80px;

    background: #F5F6F7;
  }
}
