.commit-card__author {
  position: relative;
  display: flex;
  flex-direction: row;
  width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 320px) {
  .commit-card__author {
    width: calc(100% - 32px);
    margin-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .commit-card__author {
    width: calc(100% - 32px);
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .commit-card__author {
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .commit-card__author {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
  }

}
