.commit-card__avatar {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 1000px;
}

@media (max-width: 320px) {
  .commit-card__avatar {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .commit-card__avatar {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .commit-card__avatar {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1440px) {
  .commit-card__avatar {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    margin-bottom: 16px;
    background: url(../../images/avatar_dolinin.png);
    border-radius: 1000px;
  }

}
